* {
    margin: 0;
    padding: 0;
}

$font-weights: 700;
$text-size: 25px;
$text-color: white;
$bg-color: rgb(170, 72, 235);

h1 {
    text-align: center;
    color: red;
}

body {
    background: rgba(19, 24, 24, 0.965);
    overflow-x: hidden;
}

.container {
    background-color: $bg-color;
    height: 500px;
    padding: 40px auto;
    margin-bottom: 30px;
    border-radius: 20px;
    p {
        margin: 20px;
        padding: 10px;
        text-align: center;
        color: $text-color;
        font-size: $text-size;
    }
}

.box {
    margin-left: -165px;
}
.box4 {
    height:150px;
    width: 250px;
    background-color: pink;
    margin:50px auto;
}

.bx1 {
    height: 150px;
    width: 250px;
    margin: 96px auto;
    position: relative;
}

.bx1 {
    &:before {
        position: absolute;
        content: '';
        text-align: center;
        top: 143px;
        left: 186px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: pink;
    }
    
}


.bx2 {
    height: 145px;
    width: 247px;
    margin-top: -246px;
    margin-left: 96px;
    transform: skewX(53deg);
    background-color: lawngreen;
}

.bx3 {
    height: 145px;
    width: 250px;
    margin-top: 2px;
    margin-left: 91px;
    transform: skewX(51deg);
    background-color: lawngreen;
}

.triangle, .right {
    height: 300px;
    width: 300px;
    margin: auto;
}

.tr1, .rt1{
        background-color: rgb(18, 236, 218);
        height: 300px;
        width: 300px;
        transform: skewX(-45deg);
        position: relative;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            margin-left: 151px;
            background-color: $bg-color;
            transform: skewX(45deg);
        }
}

.tr2, .rt2{
    background-color: rgb(18, 236, 218);
    height: 300px;
    width: 300px;
    transform: skewX(45deg);
    margin-top: -300px;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin-left: -295px;
        background-color: $bg-color;
        transform: skewX(-63deg);
    }
}

.rt2{
    background-color: rgb(236, 51, 18);
    height: 300px;
    width: 300px;
    transform: skewX(45deg);
    margin-top: -300px;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin-left: -150px;
        background-color: $bg-color;
        transform: skewX(-45deg);
    }
}