* {
    margin: 0;
    padding: 0;
}

$font-weights: 700;
$text-size: 25px;
$text-color: white;

h1 {
    text-align: center;
    color: red;
}

body {
    background: rgba(253, 255, 255, 0.965);
}

.container {
    background-color: black;
    height: 500px;
    padding: 40px auto;
    margin-bottom: 30px;
    p {
        margin: 20px;
        padding: 10px;
        text-align: center;
        color: $text-color;
        font-size: $text-size;
    }
}
.box {
    height:150px;
    width: 250px;
    background-color: pink;
    margin:50px auto;
}

.sp {
    border: 1px solid red;
    height: 150px;
    width: 250px;
    margin: 100px auto;
    position: relative;
}

.sp {
    &:before {
        position: absolute;
        content: '';
        text-align: center;
        top: 149px;
        left: 186px;
        height: 100%;
        width: 100%;
        border: 1px solid red;
        z-index: 1;
        background-color: pink;
    }
}


.sp2 {
    border: 3px solid green;
    height: 145px;
    width: 247px;
    margin-top: -253px;
    margin-left: 93px;
    transform: skewX(51deg);
    background-color: lawngreen;
}

.sp3 {
    border: 3px solid green;
    height: 145px;
    width: 250px;
    margin-top: 2px;
    margin-left: 93px;
    transform: skewX(51deg);
    background-color: lawngreen;
}