* {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center;
  color: red; }

body {
  background: url("images/img.jpg");
  overflow-x: hidden; }

.container {
  background-color: #030303;
  width: 80%;
  height: 500px;
  padding: 40px auto;
  margin: 0 auto 30px;
  border-radius: 20px; }
  .container p {
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 25px; }

.box {
  margin-left: -165px; }

.box4 {
  height: 150px;
  width: 250px;
  background-color: pink;
  margin: 50px auto; }

.bx1 {
  height: 150px;
  width: 250px;
  margin: 96px auto;
  position: relative; }

.bx1:before {
  position: absolute;
  content: '';
  text-align: center;
  top: 143px;
  left: 187px;
  height: 100%;
  width: 101%;
  z-index: 1;
  background-color: pink; }

.bx2 {
  height: 145px;
  width: 247px;
  margin-top: -246px;
  margin-left: 96px;
  transform: skewX(53deg);
  background-color: lawngreen; }

.bx3 {
  height: 145px;
  width: 250px;
  margin-top: 2px;
  margin-left: 91px;
  transform: skewX(51deg);
  background-color: lawngreen; }

.triangle, .right {
  height: 300px;
  width: 300px;
  margin: auto; }

.tr1, .rt1 {
  background-color: #12ecda;
  height: 300px;
  width: 300px;
  transform: skewX(-45deg);
  position: relative; }
  .tr1:before, .rt1:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: 151px;
    background-color: #030303;
    transform: skewX(45deg); }

.tr2, .rt2 {
  background-color: #12ecda;
  height: 300px;
  width: 300px;
  transform: skewX(45deg);
  margin-top: -300px;
  position: relative; }
  .tr2:after, .rt2:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: -295px;
    background-color: #030303;
    transform: skewX(-63deg); }

.rt2 {
  background-color: #ec3312;
  height: 300px;
  width: 300px;
  transform: skewX(45deg);
  margin-top: -300px;
  position: relative; }
  .rt2:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: -150px;
    background-color: #030303;
    transform: skewX(-45deg); }

.trf {
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  margin: 150px auto 0; }
  .trf:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 150px;
    background-color: red;
    border-radius: 50%; }
  .trf:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: -109px;
    left: 75px;
    background-color: red;
    border-radius: 50%; }

.cre {
  height: 200px;
  width: 200px;
  background-color: #3120ca;
  border-radius: 50%;
  position: relative;
  margin: 150px auto 0;
  z-index: 1; }
  .cre:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    bottom: 81px;
    left: 0;
    background-color: #030303;
    border-radius: 50%; }

.arrow {
  transform: rotate(90deg);
  margin-top: -62px; }

.ar1 {
  margin: 132px auto 0;
  height: 110px;
  width: 100px;
  position: relative; }
  .ar1:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 38px;
    transform: skewX(35deg);
    background-color: #030303;
    z-index: 1;
    margin-left: 48px; }
  .ar1:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 20px;
    transform: skewX(-35deg);
    background-color: #030303;
    /* opacity: 0.8; */
    z-index: 1;
    margin-right: 66px; }

.ar2 {
  position: relative;
  height: 98px;
  width: 100px;
  margin: -102px auto 0;
  background-color: black; }
  .ar2:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 1px -13px 10px 0px;
    transform: skewX(35deg);
    background-color: #800d0d; }
  .ar2:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0px -13px 10px 80px;
    transform: skewX(-35deg);
    background-color: #800d0d; }

.ar3 {
  margin: -49px auto 0;
  width: 50px;
  height: 253px;
  position: relative;
  background-color: #800d0d; }

.rom {
  height: 200px;
  width: 200px;
  background-color: cyan;
  margin: 70px auto 0;
  transform: rotate(45deg); }

.hex1 {
  height: 150px;
  width: 150px;
  background-color: darkcyan;
  margin: 150px auto 0;
  position: relative; }
  .hex1:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 74px;
    left: 0;
    background-color: darkcyan;
    transform: rotate(45deg) skew(17deg, 15deg); }
  .hex1:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -74px;
    left: 0;
    background-color: darkcyan;
    transform: rotate(45deg) skew(17deg, 15deg); }

/*# sourceMappingURL=style.css.map */
